:root {
  --ion-font-family: 'Roboto', sans-serif;
  --ion-text-color: var(--ion-color-dark);
  --ion-safe-area-top: 2rem;
}

ion-header ion-toolbar:first-of-type {
  padding-top: var(--ion-safe-area-top, 0);
}
